.popup {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  display: none;
  background-color: rgba(0, 0, 0, .5);
  overflow: hidden;
  height: 0;
  opacity: 0;
  transition: height 0s .7s, opacity .7s 0s;
}
