.profile__button_edit {
  grid-area: button-edit;
  align-self: center;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 24px;
  height: 24px;
  margin: 14px 0 0;
}
.profile__button_edit:hover {
  transition: .4s;
  opacity: .6;
}
@media (max-width: 541px) {
  .profile__button_edit {
    width: 18px;
    height: 18px;
  }
}
